<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.hand.dao.MemberDAO">
	<insert id="signUp">
		insert into member(me_id, me_pw, me_email, me_post, me_addr, me_addr_detail, me_phon, me_vali)
			values(#{me_id},#{me_pw},#{me_email},#{me_post},#{me_addr},#{me_addr_detail},#{me_phon},#{me_vali});
	</insert>
  <select id="idCheck" resultType="int">
  	select count(*) from member me_id = #{me_id};
  </select>
</mapper>
