<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.hand.dao.ProductDAO">
	<insert id="categoryInsertL">
		insert into prcategoryl(cl_name) values(#{cl_name});
	</insert>
	<select id="getCategoryL" resultType="kr.green.hand.vo.CategoryVO">
		select  cs_num, cs_name, cl_num, cl_name from prcategorys right join prcategoryl on cs_cl_num = cl_num
			group by cl_name;
	</select>
	<insert id="categoryInsertS">
		insert into prcategorys(cs_name, cs_cl_num) select #{cs_name}, cl_num from prcategoryL where cl_name = #{cl_name}
	</insert>
	<select id="getCategoryS" resultType="kr.green.hand.vo.CategoryVO">
		select cs_num, cs_name, cl_num, cl_name from prcategorys left join prcategoryl on cs_cl_num = cl_num 
		 where cl_name = #{cl_name};
	</select>
	<select id="countCategory" resultType="int">
		select count(*)+1 from product where pr_code like concat(#{pr_code},'_____')
	</select>
	<insert id="productInsert">
  	insert into product(pr_code, pr_title, pr_content, pr_price, pr_amount, pr_me_id)
  		values (#{pr.pr_code}, #{pr.pr_title}, #{pr.pr_content}, #{pr.pr_price}, #{pr.pr_amount}, #{user.me_id});
  </insert>
  <select id="getProductList" resultType="kr.green.hand.vo.ProductVO">
  	select * from product order by pr_date desc limit #{pageStart}, #{perPageNum};
  </select>
  <select id="getTotalcountPr" resultType="int">
  	select count(*) from product;
  </select>
  <insert id="insertFile">
  	insert into file(fi_name, fi_ori_name, fi_table, fi_code)
  		values (#{fi_name}, #{fi_ori_name}, #{fi_table}, #{fi_code});
  </insert>
  <select id="selectProduct" resultType="kr.green.hand.vo.ProductVO">
  	select * from product where pr_code = #{pr_code};
  </select>
  <select id="selectProductFile" resultType="kr.green.hand.vo.FileVO">
  	select * from file where fi_code = #{pr_code};
  </select>
</mapper>
