<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.hand.dao.ProductDAO">
	<insert id="categoryInsertL">
		insert into prcategoryl(cl_name) values(#{cl_name});
	</insert>
	<select id="getCategoryL" resultType="kr.green.hand.vo.CategoryVO">
		select * from prcategorys right join prcategoryl on cs_cl_num = cl_num
			group by cl_name;
	</select>
	<insert id="categoryInsertS">
		insert into prcategorys(cs_name, cs_cl_num) select #{cs_name}, cl_num from prcategoryL where cl_name = #{cl_name}
	</insert>
	<select id="getCategoryS" resultType="kr.green.hand.vo.CategoryVO">
		select * from prcategorys left join prcategoryl on cs_cl_num = cl_num 
		 where cl_name = #{cl_name};
	</select>
	<select id="countCategory" resultType="int">
		select count(*)+1 from product where pr_code like concat(#{pr_code},'_____')
	</select>
	<insert id="productInsert">
  	insert into product(pr_code, pr_title, pr_content, pr_price, pr_amount, pr_me_id)
  		values (#{pr.pr_code}, #{pr.pr_title}, #{pr.pr_content}, #{pr.pr_price}, #{pr.pr_amount}, #{user.me_id});
  </insert>
  <select id="getProductList" resultType="kr.green.hand.vo.ProductVO">
  	select * from product where pr_waiting = #{pr_waiting} 
  		order by pr_date desc limit #{pageStart}, #{perPageNum};
  </select>
  <select id="getTotalcountPr" resultType="int">
  	select count(*) from product where pr_waiting = #{pr_waiting};
  </select>
  <insert id="insertFile">
  	insert into file(fi_name, fi_ori_name, fi_table, fi_code)
  		values (#{fi_name}, #{fi_ori_name}, #{fi_table}, #{fi_code});
  </insert>
  <select id="selectProduct" resultType="kr.green.hand.vo.ProductVO">
  	select * from product where pr_code = #{pr_code};
  </select>
  <select id="selectProductFile" resultType="kr.green.hand.vo.FileVO">
  	select * from file where fi_code = #{pr_code};
  </select>
  <select id="getCategory" resultType="kr.green.hand.vo.CategoryVO">
  	select * from prcategorys left join prcategoryl on cs_cl_num = cl_num
  		where cs_num = #{cs_num} and cl_num = #{cl_num};
  </select>
  <select id="getFileList" resultType="kr.green.hand.vo.FileVO">
  	select * from file;
  </select>
  <select id="getCategoryList" resultType="kr.green.hand.vo.CategoryVO">
  	select * from prcategorys left join prcategoryl on cs_cl_num = cl_num;
  </select>
  <select id="getDelFile" resultType="kr.green.hand.vo.FileVO">
  	select * from file where fi_code = #{fi_code};
  </select>
  <delete id="deleteFile">
  	delete from file where fi_num = #{fi_num};
  </delete>
  <select id="delFileInfo" resultType="kr.green.hand.vo.FileVO">
  	select * from file where fi_num = #{fi_num};
  </select>
  <update id="updateProduct">
  	update product
  		set pr_code = #{p.pr_code}, pr_title = #{p.pr_title}, pr_content = #{p.pr_content},
	  		pr_price = #{p.pr_price}, pr_amount = #{p.pr_amount}, pr_me_id = #{p.pr_me_id}, pr_update_date = now()
	  		, pr_waiting = #{p.pr_waiting}
	  where pr_code = #{pr_ori_code}
  </update>
  <update id="updateFile">
  	update file set fi_code = #{fi_code} where fi_code = #{fi_ori_code};
  </update>
  <delete id="deleteWaiting">
  	delete from waitingproduct where wp_pr_code = #{pr_code};
  </delete>
  <insert id="insertWaiting">
  	insert into waitingproduct(wp_state, wp_note, wp_date, wp_pr_code)
  		values (#{wp_state}, #{wp_note}, now(), #{wp_pr_code});
  </insert>
  <select id="getWaiting" resultType="kr.green.hand.vo.WaitingVO">
  	select * from waitingproduct where wp_pr_code = #{pr_code};
  </select>
  <insert id="insertOpSelect">
  	insert into prselect(ps_code, ps_name, ps_pr_code, ps_num)
  		select concat(#{ps_pr_code},'_',count(*)+1), #{ps_name}, #{ps_pr_code}, #{ps_num}
  		from prselect where ps_pr_code = #{ps_pr_code};
  </insert>
  <insert id="insertOption">
  	insert into proption(op_code, op_title, op_price, op_ps_code)
  		select concat(ps_code,'_', ifnull(count(op_code),0)+1), #{op_title}, #{op_price}, ps_code
  		from proption right join prselect on op_ps_code = ps_code 
  		where ps_pr_code = #{ps_pr_code} and ps_num = #{ps_num};
  </insert>
  <select id="getOption" resultType="kr.green.hand.vo.OptionVO">
  	select * from proption left join prselect on op_ps_code = ps_code where ps_pr_code = #{pr_code};
  </select>
  <select id="deleteOptionSelect" resultType="kr.green.hand.vo.OptionVO">
  	select * from prselect where ps_pr_code = #{pr_code}
  </select>
  <delete id="deleteOption">
  	delete from proption where op_ps_code = #{ps_code}
  </delete>
  <delete id="deleteOpSelect">
  	delete from prselect where ps_pr_code = #{pr_code}
  </delete>
</mapper>
